<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add name="mssqlmaster" connectionString="Data Source=192.168.6.201;Initial Catalog=GL_StockAdmin;User ID=sa;Password=111111"/>-->
    <add name="mssqlmaster" connectionString="data source=111.230.87.237;initial catalog=StockOnline;user id=ceshi;password=zlgw@2018"/>
    <add name="localhost" connectionString="data source=127.0.0.1\HTT;initial catalog=ITCactBookMarket;persist security info=True;user id=sa;password=BT15150232263"/>
  </connectionStrings>
</configuration>